.logo {
  width: 400px;
  height: 400px;
}

.text-section a {
  transition: all 0.4s ease-in-out;
}

.text-section a:hover {
  text-decoration: underline;
}

.text-section {
  font-size: 1.2rem;
}

.actions {
  margin-top: 1rem;
  flex-direction: row;
  gap: 1rem;
}

.form-inputs {
  flex-direction: row;
  gap: 1rem;
}
